<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chinazis</title>
</head>
<body>
    <h1>Hello world!</h1>
    <h2>How are you?</h2>
    {% for pizza in favourite_pizza %}
        {% if pizza == 41 %}
            {{ pizza + 100 }}<br/>
        {% else %}
            {{ pizza }}<br/>
        {% endif %}
    {% endfor %}
</body>
</html>